<!DOCTYPE html>
<html>
<%- include ('./partials/head') %>
<body style="min-width: fit-content;">
    <div class="container-fluid" style="margin-top: 1rem;">
        <%- include ('./partials/messages') %>
        <div class="row">
            <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Campeonato Brasileiro 2021 - Série A</h5>
                <p class="card-text">Simulador para o Campeonato Brasileiro 2021 - Série A</p>
                <a href="/brasileirao-serie-a-2021" class="btn btn-primary">Simular</a>
                <% if(logado) { %>
                    <a href="/gerenciar?campeonato=BRA2021A" class="btn btn-danger" style="float: right;">Gerenciar</a>
                <% } %>
                </div>
            </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">Campeonato Brasileiro 2021 - Série B</h5>
                    <p class="card-text">Simulador para o Campeonato Brasileiro 2021 - Série B</p>
                    <a href="/brasileirao-serie-b-2021" class="btn btn-primary">Simular</a>
                    <% if(logado) { %>
                        <a href="/gerenciar?campeonato=BRA2021A" class="btn btn-danger" style="float: right;">Gerenciar</a>
                    <% } %>
                    </div>
                </div>
            </div>
        </div>
      </div>
</body>
</html>