<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Simulador Campeonato Brasileiro Série A 2021</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='js/main.js'></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body style="min-width: fit-content;">

    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }

        /* Firefox */
        input[type=number] {
        -moz-appearance: textfield;
        }
        #table th {text-align: center;}
        #table td {text-align: center;}
        .list-group-item {text-align: center !important; padding: 5%;}
        .inputPlacar {display: inline !important; width: 3em; text-align: center;}
        .placarMandante {justify-content: flex-end; display: flex; width: 35%;}
        .placarVisitante {justify-content: flex-start; display: flex; width: 30%;}
        .placarX {justify-content: center; display: flex; width: 10%;}
        .iconeClube {width: 2rem;}
    </style>

    <script>      
        window.onload = function() {
            const campeonato =  <%- campeonato %>;
            let times = [<%- times %>];
            times.sort(function (a, b) {
                return b.pontuacao - a.pontuacao || b.n_vitorias - a.n_vitorias || b.saldo_gols - a.saldo_gols || b.gols_pro - a.gols_pro;
            });
            localStorage.setItem("times", JSON.stringify(times));
            localStorage.setItem("rodadas", JSON.stringify([<%- rodadas %>]));
            localStorage.setItem("rodadaAtual", campeonato.rodada_atual);
            localStorage.setItem("campeonato", JSON.stringify(campeonato));
            $('#titulo').text(campeonato.nome + " " + campeonato.ano);
            atualizarLinksNavegacao();
            atualizarTabela();
            atualizarRodada();
        };       
    </script>

    <div class="container-fluid">
        <nav class="navbar navbar-light bg-light mb-2">
            <span class="navbar-brand mb-0 h">
                <h1 id="titulo"><!-- Gerado dinamicamente --></h1>
            </span>
        </nav>
        
        <div class="row">
            <div class="col-lg-8">
                <table class="table table-hover table-bordered" id="table">
                    <thead>
                      <tr>
                        <th></th>
                        <th>Classificação</th>
                        <th>P</th>
                        <th>J</th>
                        <th>V</th>
                        <th>E</th>
                        <th>D</th>
                        <th>GP</th>
                        <th>GC</th>
                        <th>SG</th>
                        <th>%</th>
                      </tr>
                    </thead>
                    <tbody id="tbodyTabelaClassificacao">
                        <!-- tabela de classificação gerada dinamicamente -->
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                <nav class="navbar navbar-light bg-light">
                    <span class="navbar-brand mb-0 h" id="linkVoltar">
                        <!-- link gerado dinamicamente -->
                    </span>
                    <span id="textoRodada" class="navbar-brand mb-0 h">               
                        <!-- Número da rodada gerado dinamicamente -->
                    </span>
                    <span class="navbar-brand mb-0 h" id="linkAvancar">
                        <!-- link gerado dinamicamente -->
                    </span>
                </nav>
                
                <!-- <img src="Flamengo.svg" /> -->
                <!-- <div style="display: flex;">
                    <div style="justify-content: flex-end; display: flex; width: 35%;">Flamengo dasda</div>
                    <div style="justify-content: center; display: flex; width: 30%;">x</div>
                    <div style="justify-content: flex-start; display: flex; width: 30%;">red bull bragantino</div>
                </div> -->

                <ul class="list-group list-group-flush" id="listaRodadas">
                    <!-- lista de partidas geradas dinamicamente -->
                </ul>

            </div>
        </div>
    </div>
    
</body>
</html>